@namespace codeXpert.Theme.SideBar
@inherits ContainerBase
@inject ISettingService SettingService

<div class="@_classes">
    @if (_title && ModuleState.Title != "-")
    {
    <div class="row">
        <div class="d-flex flex-nowrap">
            <ModuleActions /><h2><ModuleTitle /></h2>
        </div>
        <hr class="app-rule" />
    </div>
    }
    else
    {
    <ModuleActions />
    }
    <div class="row">
        <div class="container-fluid">
            <ModuleInstance />
        </div>
    </div>
</div>

@code {
    public override string Name => "codeXpert SideBar - Default";

    private bool _title = true;
    private string _classes = "container-fluid";

    protected override void OnParametersSet()
    {
        try
        {

            _title = bool.Parse(SettingService.GetSetting(ModuleState.Settings, GetType().Namespace + ":Title", "true"));

        }
        catch
        {
            // error loading container settings
        }
    }

}